{% extends "layout.html" %}
{% block content %}
    <h1>{{ emisora_1.clave }} - {{ emisora_2.clave }}</h1>
    <span>{{ emisora_1.nombre }} - {{ emisora_2.nombre }}</span>
    <img class="logo" alt="{{ emisora_1.nombre }}" src="{{ url_for('static', filename = emisora_1.logo) }}"/>
    <img class="logo" alt="{{ emisora_2.nombre }}" src="{{ url_for('static', filename = emisora_2.logo) }}"/>
    <h2>Precios</h2>
    <div id="grafica3" style="height: 400px; min-width: 310px"></div>
    <h2>Rendimientos</h2>
    <div id="grafica" style="height: 400px; min-width: 310px"></div>
    <h2>Riesgo / Rendimiento</h2>
	<table id="precios" class="table table-striped table-bordered" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>Emisora</th>
				<th>Precio alto</th>
				<th>Precio bajo</th>
				<th>Precio promedio</th>
				<th>Desv. est. precio</th>
				<th>Rendimiento promedio</th>
				<th>Desv. est. rendimiento</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ emisora_1.clave }}</td>
				<td>{{ emisora_1.estadisticas.precio_alto | indicador }}</td>
				<td>{{ emisora_1.estadisticas.precio_bajo | indicador }}</td>
				<td>{{ emisora_1.estadisticas.precio_media | indicador }}</td>
				<td>{{ emisora_1.estadisticas.precio_std | indicador }}</td>
				<td>{{ emisora_1.estadisticas.rendimientos_media | porcentaje }}</td>
				<td>{{ emisora_1.estadisticas.rendimientos_std | indicador }}</td>
			</tr>
			<tr>
				<td>{{ emisora_2.clave }}</td>
				<td>{{ emisora_2.estadisticas.precio_alto | indicador }}</td>
				<td>{{ emisora_2.estadisticas.precio_bajo | indicador }}</td>
				<td>{{ emisora_2.estadisticas.precio_media | indicador }}</td>
				<td>{{ emisora_2.estadisticas.precio_std | indicador }}</td>
				<td>{{ emisora_2.estadisticas.rendimientos_media | porcentaje }}</td>
				<td>{{ emisora_2.estadisticas.rendimientos_std | indicador }}</td>
			</tr>
			<tr>
				<td colspan="3">Covarianza precio: {{ covarianza_precio | indicador }}</td>
			</tr>
            <tr>
				<td colspan="3">Covarianza rendimiento: {{ covarianza_rendimiento | indicador }}</td>
			</tr>
		</tbody>
	</table>
    <div id="grafica2" style="height: 400px; min-width: 310px"></div>
{% endblock %}
{% block js %}
    <script src="{{ url_for('static', filename = 'js/highstock.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/exporting.js') }}"></script>
    <script>
		emisora_1  = "{{ emisora_1.clave }}";
		emisora_2 = "{{ emisora_2.clave }}";
		data = {{ data|safe }};
	</script>
    <script src="{{ url_for('static', filename = 'js/comparacion.js') }}"></script>
    <script>
        $(function() {
            $('.logo').nailthumb({width: 180, height: 180, method: 'resize'});
        });
	</script>
{% endblock %}
