{% extends "layout.html" %}
{% block content %}
<h2>Comparar emisoras</h2>
<p>Muestra rendimientos, riesgo y covarianza de dos emisoras</p>
<form role="form" action="{{ url_for('comparar') }}">
	<div class="form-group">
		<p>Emisora 1: </p>
		<select class="form-control" name="emisora">
			{% for emisora in emisoras %}
			<option value="{{ emisora.clave }}">{{ emisora.clave }} - {{ emisora.nombre }}</option>
			{% endfor %}
		</select>
	</div>
	<p></p>
	<div class="form-group">
		<p>Emisora 2: </p>
		<select class="form-control" name="emisora2">
			{% for emisora in emisoras %}
			<option value="{{ emisora.clave }}">{{ emisora.clave }} - {{ emisora.nombre }}</option>
			{% endfor %}
		</select>
	</div>
	<p></p>
	<button class="btn btn-primary btn-lg"" type="submit">Comparar</button>	
</form>
{% endblock %}
