{% extends "layout.html" %}
{% block content %}
    <h1 class="page-header">{{ emisora.clave }}</h1>		
    <img class="img-responsive" alt="{{ emisora.nombre }}" src="{{ url_for('static', filename = emisora.logo) }}"/>
    <h4>Nombre: {{ emisora.nombre }}</h4>
    <h4>Sector: {{ emisora.sector }}</h4>
    <h4>Subsector: {{ emisora.subsector }}</h4>
    <h4>Ramo: {{ emisora.ramo }}</h4>
    <h4>Subramo: {{ emisora.subramo }}</h4>
    <h4>Productos y servicios: </h4>
    {{ emisora.info_historica.adj_close }}
{% endblock %}
