{% extends "layout.html" %}
{% block content %}
    <h1 class="page-header">Emisoras</h1>
    <div class="row placeholders">
        {% for emisora in emisoras %}
        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="{{ url_for('emisora', clave = emisora.clave) }}">
                <img class="img-responsive" alt="{{ emisora.nombre }}" src="{{ url_for('static', filename = emisora.logo) }}"/>
			</a>
            <h4>{{ emisora.clave }}</h4>
			 <h6>{{ emisora.nombre }}</h6>
			 <span class="text-muted">Sector: {{ emisora.sector }}</span>
			 </br>
			 <span class="text-muted">Subsector: {{ emisora.subsector }}</span>
        </div>
		{% endfor %}
    </div>
{% endblock %}
