{% extends "layout.html" %}
{% block content %}
    <h2>Emisoras</h2>
        {% for emisora in emisoras %}
		 <div class="col-md-4">
			<a href="{{ url_for('emisora', clave=emisora.clave) }}">
				<img class="logo" alt="{{ emisora.nombre }}" src="{{ url_for('static', filename=emisora.logo) }}"/>
			</a>
			<h3>{{ emisora.clave }}</h3>
			<p>{{ emisora.nombre }}</p>
			<p>
				<strong>Sector: </strong><span>{{ emisora.sector }}</span>
				</br>
				<strong>Subsector: </strong><span>{{ emisora.subsector }}</span>
			</p>
		</div>
        {% endfor %}
{% endblock %}
{% block js %}
    <script>
        $(function() {
            $('.logo').nailthumb({width: 180, height: 180, method: 'resize'});
        });
	</script>
{% endblock %}

    
