<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tradinglab MX</title>
        <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename = 'css/dashboard.css') }}" rel="stylesheet">
    </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('index') }}">Tradinglab MX</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" action="{{ url_for('emisora') }}">
            <input type="text" class="form-control" name="clave" placeholder="Clave de pizarra...">
            <button class="btn" type="submit">Buscar</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="{{ url_for('emisoras') }}">Emisoras</a></li>
            <li><a href="#">Indicadores globales</a></li>
            <li><a href="#">Estrategia trading</a></li>
            <li><a href="#">Comparar emisoras</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="{{ url_for('emisoras', sector=1) }}">Energía</a></li>
            <li><a href="{{ url_for('emisoras', sector=2) }}">Materiales</a></li>
            <li><a href="{{ url_for('emisoras', sector=3) }}">Industrial</a></li>
            <li><a href="{{ url_for('emisoras', sector=4) }}">Servicios y bienes secundarios</a></li>
            <li><a href="{{ url_for('emisoras', sector=5) }}">Consumo frecuente</a></li>
            <li><a href="{{ url_for('emisoras', sector=6) }}">Salud</a></li>
            <li><a href="{{ url_for('emisoras', sector=7) }}">Financieros</a></li>
            <li><a href="{{ url_for('emisoras', sector=9) }}">Telecom</a></li>
            <li><a href="{{ url_for('emisoras', sector=11) }}">FIBRAs (REITs)</a></li>
          </ul>
        </div>
        <div class="col-md-offset-2 main">
            {% block content %}{% endblock %}            
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
    {% block js %}{% endblock %}     
</body>
</html>
